@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
:root{
    --almost-black:#212121;
    --very-dark-grey:#424242;
    --dark-grey:#616161;
    --grey:#757575;
    --light-grey:#e0e0e0;
    --toggle-color:#50C878;
}
body{
    margin:0;
    font-family: Roboto;
    font-size: 16px;
    padding-bottom: 5em; /*marge en bas de page */
    background-color: black;
    color:var(--light-grey);
}
header{    
    text-align: center;
}
/*section "main" représente la zone de jeu*/
#main{
    height: 95vh; /*permets à la grille de rentrer dans la hauteur de l'écran*/
    width: 70vw;
    margin-left:auto;margin-right:auto; /*centrage vertical*/
    display: flex;
    justify-content: space-between;
    background-color:var(--very-dark-grey);
    font-weight: 500;
}
#play{
    margin:1% 0 1% 1%;
    width: 57%; /*57% de la largeur de "main" pour la grille, 40% pour les informations et 3% de margin*/
    background-color: var(--almost-black);
}
#playing-information{
    margin:1% 1% 1% 0;
    display:flex;
    flex-direction: column;
    width:40%; /*57% de la largeur de "main" pour la grille, 40% pour les informations et 3% de margin*/
    font-size: 1.4em;
}
#next-form{
    background-color: var(--almost-black);
    height: 30%; /*30% de la hauteur de "playing-information" pour la proch. pièce, 15% pour chaque div "info" et 25% la div "option"*/
    margin-bottom: 2%;
}
.info{
    height: 15%; /*30% de la hauteur de "playing-information" pour la proch. pièce, 15% pour chaque div "info" et 25% la div "option"*/
    margin-bottom: 2%;
    background-color: var(--almost-black);
    display: flex;
    flex-direction: column;
}
.text{
    text-align: center;    
    margin-top:auto; margin-bottom: auto; /*centrage horizontale*/
}
.number{
    text-align: center;
    margin-top:auto; margin-bottom: auto; /*centrage horizontale*/   
}
.playing-option{
    height: 25%; /*30% de la hauteur de "playing-information" pour la proch. pièce, 15% pour chaque div "info" et 25% la div "option"*/
    display: flex;
    flex-wrap: wrap; /*pour retour à la ligne*/
    align-items: center;
    background-color: var(--almost-black);
    
}
.toggle-container{
    width:50%; /*Pour faire rentrer 2 éléments par ligne*/
    display: flex;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: auto; margin-right: auto; /*centrage vertical*/
}

.toggle-container p{
    margin-left: auto; margin-right: auto; /*centrage horizontale*/
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color:var(--toggle-color);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--toggle-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}