@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
:root{
    --almost-black:#212121;
    --very-dark-grey:#424242;
    --dark-grey:#616161;
    --grey:#757575;
    --light-grey:#e0e0e0;
    --toggle-color:#50C878;
}
body{
    margin:0;
    font-family: Roboto;
    font-size: 16px;
    padding-bottom: 5em; /*marge en bas de page */
    background-color: black;
    color:var(--light-grey);
}
header{    
    text-align: center;
}
/*section "main" représente la zone de jeu*/
#main{
    width: 775px;
    margin-left:auto;margin-right:auto; /*centrage vertical*/
    display: flex;
    background-color:var(--very-dark-grey);
}
#play{
    margin:5px 0 5px 5px;
    width: 460px;
    height :600px;
    background-color: var(--almost-black);
}
#playing-information{
    margin:5px 5px 5px 5px;
}
#next-form{
    background-color: var(--almost-black);
    margin:0;
}
.info{
    height: 90px;
    margin-bottom: 5px;
    background-color: var(--almost-black);
    display: flex;
    flex-direction: column;
}
.text{
    text-align: center;    
    margin-top:auto; margin-bottom: auto; /*centrage horizontale*/
}
.number{
    text-align: center;
    margin-top:auto; margin-bottom: auto; /*centrage horizontale*/   
}
.playing-option{
    display: flex;
    flex-wrap: wrap; /*pour retour à la ligne*/
    align-items: center;
    background-color: var(--almost-black);
    height:161px;
}
.toggle-container{
    width:50%; /*Pour faire rentrer 2 éléments par ligne*/
    display: flex;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: auto; margin-right: auto; /*centrage vertical*/
}

.toggle-container p{
    margin-left: auto; margin-right: auto; /*centrage horizontale*/
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color:var(--toggle-color);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--toggle-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}